.logo {
    margin-top:-30px;
    width: 290px;
    background-color: #F9F8F8;
    padding: 0 80px 10px 90px;
    border-radius: 200px;
}

.containerCenter {
    position: relative;
    z-index: 2;
    margin: 28px 0;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.navBlock {
    font-weight: 600;
    color: #0F3D54;
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
}
    .navItem {
        color: #0F3D54;
        height: 25px;;
        font-size: 22px;
        text-decoration: none;
        border: none;
        font-weight: bold;
        background: none;
        cursor: pointer;
        transition: all .1s ease-out;
    }
        .navItem:hover {
        }

.dropdownElement {
    font-size: 15px;
    z-index: 4;
}


.contactUs {
    position: absolute;
    right: 20px;
    top: 15px;
}